
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#ba1816;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-container {


 background-image: url("./assets/Screenshot\ 2024-01-22\ 231714.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 400px;
}

.player-card {
  height: 400px;
  &:hover {
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
  }


}