.img-title {
    display: block;
    margin: 4rem auto;
    width: 700px;
    text-align: center;
    color: white;
    background-color: red;
    padding: 25px;
  }
  .images {
    display: block;
    margin: 3rem auto;
    width: 800px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out; /* Transisyonu buraya ekleyin */
}

.images:hover {
    transform: scale(1.1); /* Mouse üzerine gelindiğinde yakınlaşma efektini buraya ekleyin */
}

.images:active {
    transform: scale(1.1); /* Mouse üzerinden gidince uzaklaşma efektini buraya ekleyin */
}


h1{

    display: block;
    margin: 3rem auto;
    width: 700px;
    text-align: center;
    color: red;
    background-color: rgb(236, 229, 229);
    padding: 25px;

}