.title {
    text-align: center;
    color: white;
    background-color: red;
    padding: 25px;
  }
  .images {
    display: block;
    margin: 1rem auto;
    width: 800px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out; /* Transisyonu buraya ekleyin */
}

.images:hover {
    transform: scale(1.1); /* Mouse üzerine gelindiğinde yakınlaşma efektini buraya ekleyin */
}

.images:active {
    transform: scale(0.8); /* Mouse üzerinden gidince uzaklaşma efektini buraya ekleyin */
}
